*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


body{
    font-family: 'Inter', sans-serif;
}


header{
    height: 100vh;
    width: 100vw;
    background-size: cover;
}


.navbar{
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.navbar a{
    color: #2A2E5A;   
}

.navbar .logo{
    font-size: 2em;
    font-weight: lighter;
    align-items:center;
}

.navbar .nav-links {
    display: flex;
    align-items:  center;
}

.navbar .nav-links ul{
    display: flex;
    
}

.navbar .nav-links ul li{
    margin: 0 25px;
}

.navbar .nav-links ul li.active a{
    font-weight: 600;
}

/* Fin Navbar*/

.container{
    width: 100%;
    height: 350;
    display:inline-block;
    position: relative;
}

img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.container .text{
    /* background: #2A2E5A; */
    z-index: 1;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 10%;
    color: white;
    width: 70%;
}

.container .text h1{
    font-weight: lighter;
}

.container .text h4{
    font-weight: lighter;
}
